/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


body {
	
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;	
}

.container {
	max-width: 1180px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.main {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.text {
	color:#FAF9F9;
	font-family: 'Nunito Sans', sans-serif;
	/* flex: 0 0 580px; */
	width: 580px;
	padding-top: 170px;
	padding-bottom: 170px;
}

h1 {
	font-size: 120px;
	font-weight:800;
	text-transform: uppercase;
	line-height: 120px;
	margin-bottom: 40px;
}
h1 span {
	color: #FBB731;
	font-size: 30px;
	font-weight: 700;
	line-height: 38px;
	display: block;
	margin-bottom: 10px;
}

.text p {
	
	font-weight: 400;
	font-size: 19px;
	line-height: 1.4;
	margin-bottom: 42px;
}
.main a, .promo a {
	color: #1E2F40;
	background-color: #FBB731;
	border-radius: 5px;
	text-decoration: none;
	padding: 20px 45px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	transition: 0.6s;
}
a:hover {
	background-color: #583e0a;
}

.visual {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	position: relative;
}
.main img {
	width: 529px;
	position: absolute;
	right: -51px;
	top: 180px;
}
.bg {
	width: 432px;
	height: 100%;
	background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.promo {
	padding-top: 186px;
	padding-bottom: 185px;
	color: #FAF9F9;
}

.promo-left, .promo-right {
	flex: 0 0 49%;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
	 
}
.promo-left {
	background-image: url(../img/bacon3.jpg);
	padding: 116px  50px;
}
.sale {
	font-size: 14px;
	font-weight: 900;
	background: #F37335;
	padding: 5px 19px;
	border-radius: 14px;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 3px;
}
.cost {
	font-size: 60px;
	font-weight: 900;
	margin-bottom: 8px;
}
.desccription {
	color: #FAF9F9;
	line-height: 24px;
	font-family: 'Open Sans', sans-serif;	
	font-size: 15px;
}
.promo-right {
	background-image: url(../img/bacon1.png);
	padding: 102px 50px;
}
.promo-left .desccription {
	max-width: 392px;
}
.promo-right .desccription {
	max-width: 300px;
	margin-bottom: 20px;
}
.free {
	font-size: 44px;
	font-weight: 700;
	margin-bottom: 10px;
}

.footer {
	background: #1E2F40;
	color: #fff;
	padding-top: 114px;
	padding-bottom: 106px;

}

.logo {
	width: 63px;
	height: 56px; 
}

.item h2{
	font-size: 20px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 12px;
}
.item ul,
.tel ul {
	list-style-type: none;
}
.item li {
	margin-bottom: 9px;
	font-family: 'Open Sans', sans-serif;	
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;

}
.item a {
	color: #fff;
	font-weight: 400;
	
	text-decoration: none;
}
.item span {
	color: #FAF9F9;
	display: block;
	font-weight: 400;
	margin-bottom: 2px;
}
.logo {
}
.tel {
}

.logo {
}
.tel ul {
color: #FBB731;
font-size: 20px;

}
.tel li {
	margin-bottom: 12px;
}
